In [11]:
import numpy as np
import pandas as pd
import locale

locale.setlocale(locale.LC_TIME, "de_DE")

%store -r columnNames

#pd.set_option('display.max_columns', None)  # or 1000
pd.set_option('display.max_rows', None)  # or 1000
# pd.set_option('display.max_colwidth', None)  # or 199


# pd.describe_option('display')

# Analyze Data

In [12]:
surveyData=pd.read_csv('justCompletedAttempts.csv', sep=';')

print("Anzahl an kompletten Daten:", len(surveyData))

# Build groups depending on what viz participant had to solve first

listFirstParticipants=surveyData[surveyData['list-question-number']==6]

chordFirstParticipants=surveyData[surveyData['chord-question-number']==6]

mapFirstParticipants=surveyData[surveyData['map-question-number']==6]

print("Liste zu erst", len(listFirstParticipants))
print("Chord zu erst", len(chordFirstParticipants))
print("Map zu erst", len(mapFirstParticipants))

Anzahl an kompletten Daten: 203
Liste zu erst 52
Chord zu erst 78
Map zu erst 73

In [21]:
# Build evaluation set 

def getEvaluationValuesFromRow(row):
    evalRow=row[
        [
            'id', 
            'date-start', 
            'date-last',
            'duration-over-all',
            'duration-group-tasks-intro',
            'duration-group-list-task',
            'duration-group-chord-task',
            'duration-group-map-task',
            'age', 
            'sex', 
            'internet-level', 
            'mood-start', 
            'mood-end', 
            'preference-chord-or-map-over-list', 
            'highest-preferenced-viz', 
            'preference-reason', 
            'qualitative-questions-pros-cons-chord', 
            'qualitative-questions-pros-cons-map', 
            'qualitative-questions-pros-cons-list'
        ]
    ]
    # Calc extra fields for comparison
    evalRow['duartion-date-based']=pd.to_datetime(evalRow['date-last'])-pd.to_datetime(evalRow['date-start'])
    evalRow['duartion-date-based-in-seconds']=evalRow['duartion-date-based'].total_seconds()
    # evalRow.insert( loc=3, column='duartion-date-based', value=pd.to_datetime(evalRow['date-last'])-pd.to_datetime(evalRow['date-start']) )
    # evalRow.insert( loc=4, column='duartion-date-based-in-seconds', value=evalRow['duartion-date-based'].total_seconds() ) 
    return evalRow

In [23]:
# df=getEvaluationValuesFromRow(surveyData[surveyData['id']==12])
# print(df)
# print(df[['duration-over-all', 'duartion-date-based-in-seconds','duartion-date-based']])

# surveyData[['id', 'date-start', 'date-last','duration-over-all']]

for index, row in surveyData.iterrows():
    # print(row)
#     # print(row[[
#     #     'id',
#     #     'date-start', 
#     #     'date-last',
#     #     'duration-over-all',
#     # ]])
    df=getEvaluationValuesFromRow(row)
    df['delta']=df['duration-over-all']-df['duartion-date-based-in-seconds']
    print(df[['id', 'duration-over-all', 'duartion-date-based-in-seconds', 'delta', 'duartion-date-based']])

id                                             10
duration-over-all                         2245.25
duartion-date-based-in-seconds             2248.0
duartion-date-based               0 days 00:37:28
Name: 0, dtype: object
id                                             11
duration-over-all                         2178.88
duartion-date-based-in-seconds             2178.0
duartion-date-based               0 days 00:36:18
Name: 1, dtype: object
id                                             12
duration-over-all                         1931.35
duartion-date-based-in-seconds             1931.0
duartion-date-based               0 days 00:32:11
Name: 2, dtype: object
id                                             13
duration-over-all                         2372.86
duartion-date-based-in-seconds             2372.0
duartion-date-based               0 days 00:39:32
Name: 3, dtype: object
id                                             14
duration-over-all                         2527.04
duartion-date-based-in-seconds             2524.0
duartion-date-based               0 days 00:42:04
Name: 4, dtype: object
id                                             15
duration-over-all                         2735.33
duartion-date-based-in-seconds             2732.0
duartion-date-based               0 days 00:45:32
Name: 5, dtype: object
id                                             16
duration-over-all                         2734.67
duartion-date-based-in-seconds             2733.0
duartion-date-based               0 days 00:45:33
Name: 6, dtype: object
id                                             17
duration-over-all                         2063.49
duartion-date-based-in-seconds             2062.0
duartion-date-based               0 days 00:34:22
Name: 7, dtype: object
id                                             18
duration-over-all                         2405.59
duartion-date-based-in-seconds             2404.0
duartion-date-based               0 days 00:40:04
Name: 8, dtype: object
id                                             19
duration-over-all                         2306.85
duartion-date-based-in-seconds             2307.0
duartion-date-based               0 days 00:38:27
Name: 9, dtype: object
id                                             20
duration-over-all                          2549.7
duartion-date-based-in-seconds             2546.0
duartion-date-based               0 days 00:42:26
Name: 10, dtype: object
id                                             21
duration-over-all                         1215.93
duartion-date-based-in-seconds             1214.0
duartion-date-based               0 days 00:20:14
Name: 11, dtype: object
id                                             22
duration-over-all                          2084.8
duartion-date-based-in-seconds             2084.0
duartion-date-based               0 days 00:34:44
Name: 12, dtype: object
id                                             23
duration-over-all                         1985.77
duartion-date-based-in-seconds             1983.0
duartion-date-based               0 days 00:33:03
Name: 13, dtype: object
id                                             24
duration-over-all                         1621.63
duartion-date-based-in-seconds             1620.0
duartion-date-based               0 days 00:27:00
Name: 14, dtype: object
id                                             25
duration-over-all                         2255.27
duartion-date-based-in-seconds             2256.0
duartion-date-based               0 days 00:37:36
Name: 15, dtype: object
id                                             26
duration-over-all                         3121.37
duartion-date-based-in-seconds             3118.0
duartion-date-based               0 days 00:51:58
Name: 16, dtype: object
id                                             27
duration-over-all                         2462.05
duartion-date-based-in-seconds             2460.0
duartion-date-based               0 days 00:41:00
Name: 17, dtype: object
id                                             28
duration-over-all                          2057.9
duartion-date-based-in-seconds             2054.0
duartion-date-based               0 days 00:34:14
Name: 18, dtype: object
id                                             29
duration-over-all                         2914.01
duartion-date-based-in-seconds             2911.0
duartion-date-based               0 days 00:48:31
Name: 19, dtype: object
id                                             30
duration-over-all                         2515.37
duartion-date-based-in-seconds             2511.0
duartion-date-based               0 days 00:41:51
Name: 20, dtype: object
id                                             31
duration-over-all                         2670.48
duartion-date-based-in-seconds             2668.0
duartion-date-based               0 days 00:44:28
Name: 21, dtype: object
id                                             32
duration-over-all                         3006.62
duartion-date-based-in-seconds             3004.0
duartion-date-based               0 days 00:50:04
Name: 22, dtype: object
id                                             34
duration-over-all                         2719.94
duartion-date-based-in-seconds             2717.0
duartion-date-based               0 days 00:45:17
Name: 23, dtype: object
id                                             36
duration-over-all                         2226.56
duartion-date-based-in-seconds             2301.0
duartion-date-based               0 days 00:38:21
Name: 24, dtype: object
id                                             37
duration-over-all                         1810.03
duartion-date-based-in-seconds             1807.0
duartion-date-based               0 days 00:30:07
Name: 25, dtype: object
id                                             38
duration-over-all                         1603.53
duartion-date-based-in-seconds             1600.0
duartion-date-based               0 days 00:26:40
Name: 26, dtype: object
id                                             39
duration-over-all                         2667.49
duartion-date-based-in-seconds             2665.0
duartion-date-based               0 days 00:44:25
Name: 27, dtype: object
id                                             40
duration-over-all                         2488.15
duartion-date-based-in-seconds             2485.0
duartion-date-based               0 days 00:41:25
Name: 28, dtype: object
id                                             42
duration-over-all                         1880.34
duartion-date-based-in-seconds             1878.0
duartion-date-based               0 days 00:31:18
Name: 29, dtype: object
id                                             43
duration-over-all                         2550.93
duartion-date-based-in-seconds             2550.0
duartion-date-based               0 days 00:42:30
Name: 30, dtype: object
id                                             44
duration-over-all                         2336.23
duartion-date-based-in-seconds             2333.0
duartion-date-based               0 days 00:38:53
Name: 31, dtype: object
id                                             45
duration-over-all                         2922.29
duartion-date-based-in-seconds             2919.0
duartion-date-based               0 days 00:48:39
Name: 32, dtype: object
id                                             46
duration-over-all                          1956.8
duartion-date-based-in-seconds             1956.0
duartion-date-based               0 days 00:32:36
Name: 33, dtype: object
id                                             47
duration-over-all                         2515.15
duartion-date-based-in-seconds             2511.0
duartion-date-based               0 days 00:41:51
Name: 34, dtype: object
id                                             49
duration-over-all                          939.42
duartion-date-based-in-seconds              939.0
duartion-date-based               0 days 00:15:39
Name: 35, dtype: object
id                                             54
duration-over-all                          626.22
duartion-date-based-in-seconds              628.0
duartion-date-based               0 days 00:10:28
Name: 36, dtype: object
id                                             56
duration-over-all                         1460.77
duartion-date-based-in-seconds             1575.0
duartion-date-based               0 days 00:26:15
Name: 37, dtype: object
id                                             57
duration-over-all                         3409.94
duartion-date-based-in-seconds             3497.0
duartion-date-based               0 days 00:58:17
Name: 38, dtype: object
id                                             58
duration-over-all                         3082.48
duartion-date-based-in-seconds             3079.0
duartion-date-based               0 days 00:51:19
Name: 39, dtype: object
id                                             59
duration-over-all                         2281.11
duartion-date-based-in-seconds             2279.0
duartion-date-based               0 days 00:37:59
Name: 40, dtype: object
id                                             60
duration-over-all                         1824.76
duartion-date-based-in-seconds             1823.0
duartion-date-based               0 days 00:30:23
Name: 41, dtype: object
id                                             61
duration-over-all                         2017.41
duartion-date-based-in-seconds             2015.0
duartion-date-based               0 days 00:33:35
Name: 42, dtype: object
id                                             62
duration-over-all                         2177.73
duartion-date-based-in-seconds             2177.0
duartion-date-based               0 days 00:36:17
Name: 43, dtype: object
id                                             63
duration-over-all                         1848.77
duartion-date-based-in-seconds             1845.0
duartion-date-based               0 days 00:30:45
Name: 44, dtype: object
id                                             64
duration-over-all                         2663.92
duartion-date-based-in-seconds             2662.0
duartion-date-based               0 days 00:44:22
Name: 45, dtype: object
id                                             65
duration-over-all                         1661.73
duartion-date-based-in-seconds             1658.0
duartion-date-based               0 days 00:27:38
Name: 46, dtype: object
id                                             66
duration-over-all                          1220.1
duartion-date-based-in-seconds             1217.0
duartion-date-based               0 days 00:20:17
Name: 47, dtype: object
id                                             67
duration-over-all                         2363.77
duartion-date-based-in-seconds             2360.0
duartion-date-based               0 days 00:39:20
Name: 48, dtype: object
id                                             68
duration-over-all                         2277.38
duartion-date-based-in-seconds             2275.0
duartion-date-based               0 days 00:37:55
Name: 49, dtype: object
id                                             70
duration-over-all                         1878.71
duartion-date-based-in-seconds             1874.0
duartion-date-based               0 days 00:31:14
Name: 50, dtype: object
id                                             71
duration-over-all                         2074.81
duartion-date-based-in-seconds             2073.0
duartion-date-based               0 days 00:34:33
Name: 51, dtype: object
id                                             72
duration-over-all                         4942.56
duartion-date-based-in-seconds             4941.0
duartion-date-based               0 days 01:22:21
Name: 52, dtype: object
id                                             73
duration-over-all                         2354.39
duartion-date-based-in-seconds             2352.0
duartion-date-based               0 days 00:39:12
Name: 53, dtype: object
id                                             74
duration-over-all                         1954.76
duartion-date-based-in-seconds             1953.0
duartion-date-based               0 days 00:32:33
Name: 54, dtype: object
id                                             75
duration-over-all                         2088.89
duartion-date-based-in-seconds             2086.0
duartion-date-based               0 days 00:34:46
Name: 55, dtype: object
id                                             76
duration-over-all                         2312.57
duartion-date-based-in-seconds             2310.0
duartion-date-based               0 days 00:38:30
Name: 56, dtype: object
id                                             78
duration-over-all                         3169.85
duartion-date-based-in-seconds             3167.0
duartion-date-based               0 days 00:52:47
Name: 57, dtype: object
id                                             80
duration-over-all                          2291.9
duartion-date-based-in-seconds             2291.0
duartion-date-based               0 days 00:38:11
Name: 58, dtype: object
id                                             81
duration-over-all                         2928.35
duartion-date-based-in-seconds             2927.0
duartion-date-based               0 days 00:48:47
Name: 59, dtype: object
id                                             82
duration-over-all                         2679.66
duartion-date-based-in-seconds             2678.0
duartion-date-based               0 days 00:44:38
Name: 60, dtype: object
id                                             83
duration-over-all                         1062.05
duartion-date-based-in-seconds             1060.0
duartion-date-based               0 days 00:17:40
Name: 61, dtype: object
id                                             84
duration-over-all                         1776.61
duartion-date-based-in-seconds             1779.0
duartion-date-based               0 days 00:29:39
Name: 62, dtype: object
id                                             86
duration-over-all                         1890.13
duartion-date-based-in-seconds             1889.0
duartion-date-based               0 days 00:31:29
Name: 63, dtype: object
id                                             88
duration-over-all                         2277.19
duartion-date-based-in-seconds             2278.0
duartion-date-based               0 days 00:37:58
Name: 64, dtype: object
id                                             89
duration-over-all                         1773.08
duartion-date-based-in-seconds             1773.0
duartion-date-based               0 days 00:29:33
Name: 65, dtype: object
id                                             91
duration-over-all                         1241.23
duartion-date-based-in-seconds             1241.0
duartion-date-based               0 days 00:20:41
Name: 66, dtype: object
id                                             92
duration-over-all                         2429.09
duartion-date-based-in-seconds             2431.0
duartion-date-based               0 days 00:40:31
Name: 67, dtype: object
id                                             94
duration-over-all                         2311.21
duartion-date-based-in-seconds             2309.0
duartion-date-based               0 days 00:38:29
Name: 68, dtype: object
id                                             95
duration-over-all                         2561.71
duartion-date-based-in-seconds             2562.0
duartion-date-based               0 days 00:42:42
Name: 69, dtype: object
id                                             96
duration-over-all                         3876.59
duartion-date-based-in-seconds             3883.0
duartion-date-based               0 days 01:04:43
Name: 70, dtype: object
id                                             97
duration-over-all                          1927.3
duartion-date-based-in-seconds             1969.0
duartion-date-based               0 days 00:32:49
Name: 71, dtype: object
id                                             98
duration-over-all                         2736.33
duartion-date-based-in-seconds             2738.0
duartion-date-based               0 days 00:45:38
Name: 72, dtype: object
id                                            100
duration-over-all                          760.08
duartion-date-based-in-seconds              760.0
duartion-date-based               0 days 00:12:40
Name: 73, dtype: object
id                                            102
duration-over-all                         3428.36
duartion-date-based-in-seconds             3428.0
duartion-date-based               0 days 00:57:08
Name: 74, dtype: object
id                                            103
duration-over-all                          1175.8
duartion-date-based-in-seconds             1176.0
duartion-date-based               0 days 00:19:36
Name: 75, dtype: object
id                                            104
duration-over-all                         2282.27
duartion-date-based-in-seconds             2282.0
duartion-date-based               0 days 00:38:02
Name: 76, dtype: object
id                                            106
duration-over-all                         1425.34
duartion-date-based-in-seconds             1424.0
duartion-date-based               0 days 00:23:44
Name: 77, dtype: object
id                                            107
duration-over-all                         1142.58
duartion-date-based-in-seconds             1138.0
duartion-date-based               0 days 00:18:58
Name: 78, dtype: object
id                                            108
duration-over-all                         1778.45
duartion-date-based-in-seconds             1779.0
duartion-date-based               0 days 00:29:39
Name: 79, dtype: object
id                                            111
duration-over-all                         15194.2
duartion-date-based-in-seconds            15195.0
duartion-date-based               0 days 04:13:15
Name: 80, dtype: object
id                                            112
duration-over-all                         2512.11
duartion-date-based-in-seconds             2526.0
duartion-date-based               0 days 00:42:06
Name: 81, dtype: object
id                                            116
duration-over-all                         1403.72
duartion-date-based-in-seconds             1402.0
duartion-date-based               0 days 00:23:22
Name: 82, dtype: object
id                                            118
duration-over-all                          936.69
duartion-date-based-in-seconds              943.0
duartion-date-based               0 days 00:15:43
Name: 83, dtype: object
id                                            119
duration-over-all                         2455.39
duartion-date-based-in-seconds             2455.0
duartion-date-based               0 days 00:40:55
Name: 84, dtype: object
id                                            120
duration-over-all                         1383.19
duartion-date-based-in-seconds             1386.0
duartion-date-based               0 days 00:23:06
Name: 85, dtype: object
id                                            122
duration-over-all                         1909.11
duartion-date-based-in-seconds             1911.0
duartion-date-based               0 days 00:31:51
Name: 86, dtype: object
id                                            123
duration-over-all                         1045.96
duartion-date-based-in-seconds             1044.0
duartion-date-based               0 days 00:17:24
Name: 87, dtype: object
id                                            124
duration-over-all                         1668.82
duartion-date-based-in-seconds             1672.0
duartion-date-based               0 days 00:27:52
Name: 88, dtype: object
id                                            125